<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create your Cirrus account</title>
</head>
<body>
Hello,
<br /><br />
You have requested a new supplier account on the Cirrus.
<br /><br />
Click the link below to confirm your account.
<br /><br />
{{ url }}
<br /><br />
You must click this link within 7 days of receiving this email.
<br /><br />
This is an automated message. Email <a href="mailto:enquiries@inoket.com">enquiries@inoket.com</a> if you need help.
<br /><br />
Thanks,
<br /><br />
The Cirrus Admin Team
</body>
</html>
